<div ng-controller="PartitionController" class="container-fluid">
	<div class="row">
		<div class="container-fluid">
			<partition-directive partition="partition"> </partition-directive>
		</div>
	</div>
	<div class="row">
	  	<div class="btn-group col-md-4 col-md-offset-4" >
	        <button type="button" class="btn btn-default" ng-model="partition.Play"  btn-checkbox>
	        	<i class="fa fa-play" ng-if="!partition.Play"></i>
	        	<i class="fa fa-pause" ng-if="partition.Play"></i>
	        </button>

	        <button type="button" class="btn btn-default" ng-click="partition.Stop()">
	        	<i class="fa fa-stop"></i>
	        </button>

	        <button type="button" class="btn btn-default" ng-model="partition.Loop"  btn-checkbox>
	          	<i class="fa fa-retweet"></i>
	        </button>
	    </div>
	</div>

</div>